@{
    ViewData["Title"] = "educationservice";
    Layout = "~/Views/Shared/webui.cshtml";
}
<main>
    <!-- Hero Area Start -->
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!--? Our Services Start -->
    <div class="our-services section-padding30">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Our Educational Services</span>
                        <h2>Upcoming activities</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-12 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span> <i class="bi bi-layout-text-window-reverse"></i></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Seminar Schedules</a></h5>
                            <p>
Introducing [EliteCare] Seminar Series: Your gateway to cutting-edge insights and practical solutions for healthcare professionals. Join us for expert-led sessions covering clinic management, telemedicine, patient care, and more. Reserve your spot now and elevate your practice with us</p>
                            <a href="@Url.Action("registereducation","webui")" class="btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-12 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span><i class="bi bi-calendar-check"></i></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Lecture Timings</a></h5>
                            <p>Welcome to [EliteCare] Seminar Series! Below, you'll find the schedule for our upcoming lectures, carefully crafted to fit your busy schedule while delivering valuable insights and knowledge. Mark your calendars and join us at the specified times to learn from industry experts and elevate your clinic management skills. We look forward to seeing you there!</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-12 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span><i class="bi bi-award"></i></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Practical Conducted</a></h5>
                            <p>Introducing Practical Sessions at [EliteCare] Seminar Series: Dive deeper into real-world scenarios and hands-on exercises guided by industry experts. These interactive sessions provide practical solutions and skills directly applicable to your clinic management challenges. Join us to gain actionable insights and elevate your practice. </p>
                            <a href="@Url.Action("registereducation","webui")" class="btn">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->
    <!--? contact-animal-owner Start -->
    <div class="contact-animal-owner section-bg" data-background="/assets2/img/gallery/section_bg04.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>Any time you can call us!</h3>
                            <p>Because we know that even the best technology is only as good as the people behind it. 24/7 tech support.</p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <a href="@Url.Action("contactweb","webui")" class="btn white-btn">Contact Us</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-animal-owner End -->
</main>