@model List<feedback>;
@foreach (var item in Model)
{
    <div class="col-xl-8 col-lg-8 col-md-10">
        <div class="h1-testimonial-active dot-style">
            <!-- Single Testimonial -->
            <div class="single-testimonial text-center">
                <div class="testimonial-caption ">
                    <!-- founder -->
                    <div class="testimonial-founder">
                        <div class="founder-img mb-40">

                            <span>@item.feedback_name</span>

                        </div>
                    </div>
                    <div class="testimonial-top-cap">
                        <p>@item.feedback_message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}